
<div class="col-lg-6 col-md-6">
    <!--fields list-->
    
    <div class="form-group">
        <label for="client_client_name" class="col-lg-3 col-md-3 control-label">Client_name:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="client[client_name]" id="client_client_name" value="<%- formVal(client.client_name) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="client_client_type" class="col-lg-3 col-md-3 control-label">Client_type:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="client[client_type]" id="client_client_type" value="<%- formVal(client.client_type) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="client_client_id" class="col-lg-3 col-md-3 control-label">Client_id:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="client[client_id]" id="client_client_id" value="<%- formVal(client.client_id) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="client_client_secret" class="col-lg-3 col-md-3 control-label">Client_secret:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="client[client_secret]" id="client_client_secret" value="<%- formVal(client.client_secret) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="client_redirect_uri" class="col-lg-3 col-md-3 control-label">Redirect_uri:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="client[redirect_uri]" id="client_redirect_uri" value="<%- formVal(client.redirect_uri) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="client_grant_types" class="col-lg-3 col-md-3 control-label">Grant_types:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="client[grant_types]" id="client_grant_types" value="<%- formVal(client.grant_types) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="client_user_id" class="col-lg-3 col-md-3 control-label">User_id:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="client[user_id]" id="client_user_id" value="<%- formVal(client.user_id) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="client_created" class="col-lg-3 col-md-3 control-label">Created:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="client[created]" id="client_created" value="<%- formVal(client.created) %>"/>
        </div>
    </div>
    
</div>
<div class="col-lg-6 col-md-6">

</div>
<div class="clearfix"></div>