
<div class="col-lg-6 col-md-6">
    <!--fields list-->
    
    <div class="form-group">
        <label for="user_active" class="col-lg-3 col-md-3 control-label">Active:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="user[active]" id="user_active" value="<%- formVal(user.active) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="user_email" class="col-lg-3 col-md-3 control-label">Email:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="user[email]" id="user_email" value="<%- formVal(user.email) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="user_password" class="col-lg-3 col-md-3 control-label">Password:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="user[password]" id="user_password" value="<%- formVal(user.password) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="user_first_name" class="col-lg-3 col-md-3 control-label">First_name:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="user[first_name]" id="user_first_name" value="<%- formVal(user.first_name) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="user_last_name" class="col-lg-3 col-md-3 control-label">Last_name:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="user[last_name]" id="user_last_name" value="<%- formVal(user.last_name) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="user_gender" class="col-lg-3 col-md-3 control-label">Gender:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="user[gender]" id="user_gender" value="<%- formVal(user.gender) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="user_photo" class="col-lg-3 col-md-3 control-label">Photo:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="user[photo]" id="user_photo" value="<%- formVal(user.photo) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="user_birthday" class="col-lg-3 col-md-3 control-label">Birthday:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="user[birthday]" id="user_birthday" value="<%- formVal(user.birthday) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="user_website" class="col-lg-3 col-md-3 control-label">Website:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="user[website]" id="user_website" value="<%- formVal(user.website) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="user_provider" class="col-lg-3 col-md-3 control-label">Provider:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="user[provider]" id="user_provider" value="<%- formVal(user.provider) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="user_language" class="col-lg-3 col-md-3 control-label">Language:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="user[language]" id="user_language" value="<%- formVal(user.language) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="user_account_type" class="col-lg-3 col-md-3 control-label">Account_type:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="user[account_type]" id="user_account_type" value="<%- formVal(user.account_type) %>"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="user_account_currency" class="col-lg-3 col-md-3 control-label">Account_currency:</label>
        <div class="col-lg-9 col-md-9">
            <input class="form-control" type="text" name="user[account_currency]" id="user_account_currency" value="<%- formVal(user.account_currency) %>"/>
        </div>
    </div>
    
</div>
<div class="col-lg-6 col-md-6">

</div>
<div class="clearfix"></div>